.body-text { color: #002947; font-family: Georgia;
          background: #faedcb;
          border-style: solid;
          border-width: 6px;
          border-color: #e23000;
        }
h1 {color: #e33101;
    font-size: 96px;
    font-family: Georgia;
    font-style: italic;
    align-content: center;}
