.body-text { color: #002947; font-family: Georgia;
          background: rgb(250,237,203,0.7);
          border-style: solid;
          border-width: 6px;
          border-color: #e23000;
          text-align: center;
        padding: 15px; }

h1  {color: #e33101;
    font-size: 96px;
    font-family: Georgia;
    font-style: italic;
    text-align: center;
     }
