
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@300&family=Playfair+Display+SC:ital,wght@0,700;1,700&display=swap');


h1, .parent {font-family: 'Playfair Display SC', serif;
    font-size: 96px
    font-style: italic;
    text-align: center;}

h2, .child-1 {font-family: 'Playfair Display SC', serif;
      font-size: 75%;
      text-align: center}

pre, .child-2 {font-family: 'M PLUS 1p', sans-serif;
           font-size: 50%;
           text-align: center}
