
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@300&family=Playfair+Display+SC:ital,wght@0,700;1,700&display=swap');

html {font-size: 96px}

.text {background-color: #d5b6f2, 50%;}

h1, .parent {font-family: 'Playfair Display SC', Georgia, serif;
    font-size: 100%;
    font-style: italic;
    text-align: center;}


h2, .child-1 {font-family: 'Playfair Display SC', Georgia, serif;
      font-size: .75em;
      text-align: center;
      font-kerning: normal;}

h3, .child-3 {font-family: 'M PLUS 1p', Helvetica, sans-serif;
              font-size: .6em;
              text-align: center}

p, .child-2 {font-family: 'M PLUS 1p', Helvetica, sans-serif;
           font-size: .4em;
           text-align: center}

p::first-letter {color: green;
                font-family: 'Playfair Display SC', Georgia, serif;
                 font-size: 3em;
                 vertical-align: middle;
               font-style: italic;}

a:hover {color: green;}
