html {font-size: 75px;
      width: 100%}

@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@100&family=Montserrat:wght@300&display=swap');

.background-image {background: url(./images/geese.jpg);
  background-repeat: no-repeat;
  background-size: contain;}

.body-text  {width: 35% ;
             height: 500px ;
             border: 6px ;
             padding: 20px ;
             margin: inherit ;
             background-color: rgb(235, 64, 52);
             font-size: 60%;
             color: rgb(255, 226, 224);
             overflow: scroll;
             display: inline;
             position:relative ;
             float: left ;
             text-align:center;}

h1 {font-size: 100%;
    color: rgb(255, 226, 224);
    text-align: center;
    font-family: 'Fira Sans', 'Helvetica', sans-serif;
    font-weight: 100;}

p {font-size: 60%;
   text-align: justify;
   font-family: font-family: 'Montserrat', 'Georgia', sans-serif;}


.image {width:60% ;
        padding: 10px;
        margin:inherit ;
        display: inline;
       float: right ;
      z-index: 1}

.navbar {text-align: center;
         position: fixeds;
         text-transform: uppercase;
         font-family: 'Fira Sans', 'Helvetica', sans-serif;
          color:rgb(255, 226, 224) }

.menu-item {
    margin: auto;
    padding: 0.25em;
    min-width: 75px;
    font-size: 10pt;
    color: #fff;
    background-color: goldenrod;
    line-height: 2.1em;
     display: inline-block;
}

.menu-item:hover {
    background-color: gold;
    color: #333;
}
