html {font-size: 75px;
      width: 100%}

@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@100&family=Montserrat:wght@300&display=swap');

.body-text  {width: 30% ;
             height: 400px ;
             border: 6px ;
             padding: 20px ;
             margin-left: 4% ;
             margin-right: 4%;
             margin-top: 4%;
             background-color: rgb(227, 167, 6);
             font-size: 100%;
             color: rgb(255, 226, 224);
             overflow: scroll;
             display: inline;
             position: relative;
             float: left ;
             z-index: 4}

.body-text-home  {width: 30% ;
                 height: 50px ;
                 border: 6px ;
                 padding: 20px ;
                 margin-left: 4% ;
                 margin-top: 4%;
                 background-color: rgb(227, 167, 6);
                 font-size: 100%;
                 color: rgb(255, 226, 224);
                 overflow: scroll;
                 display: inline;
                 position: relative;
                 float: right ;
                z-index: 4}

h1 {font-size: 100%;
    color: rgb(255, 226, 224);
    text-align: center;
    display: block;
    font-family: 'Fira Sans', 'Helvetica', sans-serif;
    font-weight: 100;
    background-color: }

p {font-size: 100%;
   text-align: justify;
   font-family: font-family: 'Montserrat', 'Georgia', sans-serif;}


#liv {width:46% ;
        margin-left: 5%;
        margin-top: 10%;
        display: inline;
        float: right ;
        z-index:2}

.navbar {margin-left: 36%;
         margin-top: 4%;
         text-align: center;
         position: fixed;
         text-transform: uppercase;
         font-family: 'Fira Sans', 'Helvetica', sans-serif;
          color:rgb(255, 226, 224) ;
          z-index: 5}


.center {text-align: center;
         position: fixed;
         z-index:5
         }

.menu-item {
    margin: auto;
    padding: 0.35em;
    min-width: 75px;
    font-size: 13pt;
    color: rgb(255, 226, 224);
    background-color: rgb(227, 167, 6);
    line-height: 2.1em;
     display: inline-block;
     font-family: 'Fira Sans', 'Helvetica', sans-serif;
     font-weight: 100;
}

.menu-item:hover {
    background-color: rgb(255, 226, 224);
    color: rgb(195, 128, 1);
}

.services-text {font-family: 'Fira Sans', 'Helvetica', sans-serif;
                font-weight: 100;
                text-align: left ;
                }
.bgimage {
  position:absolute;
background-color:rgb(255, 226, 224);
z-index:1;
}
